<template>
  <div class="home">
    <div class="first-box">
      <div>
        <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
        >
          <el-menu-item index="0">
            <div class="login-div">
              <img src="../../public/static/images/logo.png" alt="" /></div
          ></el-menu-item>
          <el-menu-item index="1">PIE-Engine</el-menu-item>
          <el-submenu index="2">
            <template slot="title">产品中心</template>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
            <el-menu-item index="2-3">选项3</el-menu-item>
          </el-submenu>
          <el-menu-item index="3">解决方案</el-menu-item>
          <el-menu-item index="4">合作伙伴</el-menu-item>
          <el-menu-item index="5">关于我们</el-menu-item>
          <el-menu-item index="6">投资者关系</el-menu-item>
          <el-menu-item index="7">开发大赛</el-menu-item>
          <el-menu-item index="8">遥感大会</el-menu-item>
          <el-menu-item index="9">处理中心</el-menu-item>
        </el-menu>
      </div>

      <div>
        <el-carousel height="852px">
          <el-carousel-item v-for="(item, index) in carouselItem" :key="index">
            <img :src="item.src" alt="" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="price">
        <div class="price-box" v-for="(item, index) in priceItem" :key="index">
          <div class="price-div" v-if="index === 0">
            <div class="price-div-left">
              <span>{{ item.left[0] }}</span>
              <span>{{ item.left[1] }}</span>
            </div>
            <div class="price-div-center-left">
              <span id="dot" style="color: green">{{
                item.centerLeft[0]
              }}</span>
            </div>
            <div class="price-div-center-right">
              <img id="dzImg" :src="item.centerRight" />
            </div>
            <div class="price-div-right">
              <span id="nowPic" style="color: green">{{ item.right[0] }}</span>
              <span id="rate" style="color: green">{{ item.right[1] }}</span>
            </div>
          </div>
          <div class="price-news-div" v-else>
            <div
              class="price-news-div-item"
              :style="{
                border: index === priceItem.length - 1 ? 'none' : '',
              }"
            >
              <div class="price-news-div-item-text">
                {{ item.text1 }}
              </div>
              <div class="price-news-div-item-text">
                {{ item.text2 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dynamics">
      <div class="dynamics-title">
        <span class="dynamics-title-text">DYNAMICS</span>
        <span class="dynamics-title-text2">PIE-Engine</span>
      </div>
      <div class="dynamics-body">
        <el-row>
          <el-col :span="14" class="dynamics-body-img">
            <img src="../../public/static/images/engine@2x.png" />
          </el-col>
          <el-col :span="10" class="dynamics-body-dis">
            <div class="dynamics-body-dis-title">
              {{ dynamicsTitle }}
            </div>
            <div class="dynamics-body-dis-body">
              {{ dynamicsContent }}
            </div>
            <el-button>查看详情</el-button>
          </el-col>
        </el-row>
      </div>
    </div>
    <div class="pie-one">
      <el-row class="pie-one-div">
        <el-col :span="14" class="pie-one-dis">
          <div class="pie-one-title">{{ pieContent1 }}</div>
          <div class="pie-one-child-title">{{ pieContent2 }}</div>
          <div class="pie-one-dis-body">
            {{ pieContent3 }}
          </div>
        </el-col>
        <el-col class="pie-one-img">
          <img src="../../public/static/images/map@2x.png" />
        </el-col>
      </el-row>
    </div>
    <div class="news-center">
      <div class="news-center-title">
        <span class="news-center-title-text">News Center</span>
        <span class="news-center-title-text2">新闻中心</span>
      </div>
      <div class="news-div">
        <el-row>
          <el-col :span="16" class="news-one">
            <div class="news-type-title">重大活动</div>
            <div class="news-type1-div">
              <img src="../../public/static/images/gvlipunu.jpg" />
              <div class="news-type1-child-div">
                <div class="news-child-box"></div>
                <div class="news-child-box1">
                  <div class="news-child-box2">
                    南京航天宏图信息技术有限公司2023年江苏省研究生工作站申报公示
                  </div>
                  <div class="news-child-box3">2023-06-25 16:04:00</div>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="8" class="news-second">
            <div class="news-type-title">最新资讯</div>
            <div
              class="news-type2-div"
              v-for="(item, index) in newsItem"
              :key="index"
            >
              <div class="news-img-div">
                <img :src="item.imgSrc" width="140" height="143" />
              </div>
              <div class="news-body-div">
                <div class="news-body-title">{{ item.newsTitle1 }}</div>
                <div class="news-body-body">
                  {{ item.newsTitle2 }}
                </div>
                <div class="news-body-date">{{ item.newsTitle3 }}</div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <div class="play-div">
      <img src="../../public/static/images/dibu_bg@2x.png" />
      <div class="play-btn-div">
        <img src="../../public/static/images/play-btn@2x.png" />
      </div>
      <div class="zz">科技改变世界 遥感走进生活</div>
    </div>
    <el-footer>
      <div class="container">
        <el-row>
          <el-col :span="16" class="footer-left">
            <el-row>
              <el-col :span="4" >
                <h3>新闻中心</h3>
                <div>公司动态</div>
                <div>产品动态</div>
              </el-col>
              <el-col :span="4">
                <h3>关于我们</h3>
                <div>公司介绍</div>
                <div>组织架构</div>
                <div>典型客户</div>
                <div>合作伙伴</div>
              </el-col>
              <el-col :span="4">
                <h3>产品中心</h3>
                <div>
                  <div>PIE-Engine</div>
                  <div>PIE-basic</div>
                  <div>PIE-Ortho</div>
                  <div>PIE-SAR</div>
                </div>
              </el-col>
              <!-- <el-col :span="4">
                <h3></h3>
                <div>PIE-UAV</div>
                <div>PIE-SIAS</div>
                <div>PIE-Lidar</div>
                <div>PIE-Map</div>
                <div>PIE-TDModeler</div>
                <div>PIE软件下载</div>
              </el-col> -->
              <el-col :span="4">
                <h3>解决方案</h3>
                <div>实景三维</div>
                <div>生态环境</div>
                <div>智慧气象</div>
                <div>智慧水利</div>
                <div>北斗领域</div>
                <div>智慧交通</div>
                <div>农业农村</div>
              </el-col>
              <!-- <el-col :span="4">
                <h3></h3>
                <div>地质灾害监测预警</div>
                <div>城市遥感监测云服务</div>
                <div>国土资源管理</div>
                <div>数字孪生</div>
                <div>智慧林草</div>
                <div>空间环境作业</div>
                <div>虚拟仿真</div>
              </el-col> -->
            </el-row>
          </el-col>
          <el-col :span="8" class="footer-right">
            <h3>关注我们</h3>
            <el-row>
              <el-col
                :span="8"
                v-for="(item, index) in guanzhuItem"
                :key="index"
              >
                <img :src="item.imgSrc" />
                <div class="guanzhu-title">{{ item.content }}</div>
              </el-col>
            </el-row>

            <h3>联系我们</h3>
            <div
              class="lianxi-box"
              v-for="(item, index) in lianxiItem"
              :key="index + '&'"
            >
              <i :class="item.iClass"></i>{{ item.content }}
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="copyright">
        <span>Copyright © 2023 航天宏图信息技术股份有限公司 版权所有 |</span>
        <span> 京ICP备08011069号</span>
        <span type="text">| 京公网安备 11010802035123号</span>
      </div>
    </el-footer>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line
  name: "home",
  data() {
    return {
      menuItem: [
        {
          title: "PIE-Engine",
        },
        {
          title: "产品中心",
          subTitle: ["选项1", "选项2", "选项3"],
        },
        {
          title: "解决方案",
        },
        {
          title: "合作伙伴",
        },
        {
          title: "关于我们",
        },
        {
          title: "投资者关系",
        },
        {
          title: "开发大赛",
        },
        {
          title: "遥感大会",
        },
        {
          title: "处理中心",
        },
      ],
      activeIndex: "1",
      carouselItem: [
        {
          src: require("../../public/static/images/banner1.png"),
        },
        {
          src: require("../../public/static/images/banner2.png"),
        },
        {
          src: require("../../public/static/images/banner3.png"),
        },
        {
          src: require("../../public/static/images/banner4.png"),
        },
        {
          src: require("../../public/static/images/banner5.png"),
        },
      ],
      priceItem: [
        {
          left: ["股票动态", "688066.SH"],
          centerLeft: [66.72],
          centerRight: require("../../public/static/images/down.png"),
          right: ["-1.01", "-1.49%"],
        },
        {
          text1: "建设“女娲”星座，助力时空大数据商业化-财通证券",
          text2:
            "2022 年 12 月 19 日晚，公司发布公告，拟合作设立两只专项投资基金，基金规模分别为 5.68 亿元、不低于 5 亿元，航天宏图作为有限合伙人计划分别出资 1.5 亿元、不超过 1.25 亿元，分别认购株洲太空星际卫星科技有限公司（简称“株洲太空星际”）、济宁太空星际信息技术有限公司股权（简称“济宁太空星际”），用于“女娲”雷达卫星星座建设。此外公司于 2022 年 11 月 28日向不特定对象发行了总额约 10.09 亿元的可转债，将于 2022 年 12 月 22 日起在上交所挂牌交易，债券简称“宏图转债”。",
        },
        {
          text1: "投资建设“女娲”雷达星座，加码布局上有数据源-安信证券",
          text2:
            "12 月 20 日，航天宏图发布公告称，拟参与设立两个专项投资基金，合计对外投资 2.75 亿元。1）公司拟出资 1.5 亿元，用于设立株洲迪策鸿卫北斗投资合伙企业（公司占比 26.4%），并通过专项投资基金认购株洲太空星际卫星科技有限公司公司股权，用于“女娲”雷达卫星星座建设。2）公司拟出资 1.25 亿元，用于设立济宁东方星际投资合伙企业（公司占比 25%），并通过专项投资基金认购认购济宁太空星际信息技术有限公司股权，用于“女娲”雷达卫星星座建设。",
        },
        {
          text1:
            "投资建设“女娲”遥感卫星星座，数据服务能力有望全面升级-开源证券",
          text2:
            "我们维持公司 2022-2024 年归母净利润预测为 2.92、4.49、6.23 亿元，EPS 为 1.58、2.43、3.37 元/股，当前股价对应 2022-2024 年 PE 为 48.5、31.6、22.8 倍，考虑公司在遥感卫星应用领域的领先地位，维持“买入”评级。",
        },
      ],
      activeName: "first",
      productItem: [
        {
          title: "PIE-Basic",
          content:
            "集遥感与GIS于一体的、简单易用的遥感平台，提供基础处理、预处理、信息提取、专题制图等全流程处理功能。",
        },
        {
          title: "PIE-Ortho",
          content:
            "针对国内外卫星遥感影像数据进行测绘生产的专业处理工具，可快速批量化完成DOM、DEM和DSM生产。",
        },
        {
          title: "PIE-SAR",
          content:
            "专业的星载SAR图像处理和分析软件，包括基础处理、区域网平差、InSAR//DInSAR、时序InSAR和极化SAR处理能力。",
        },
        {
          title: "PIE-Hyp",
          content:
            "包含影像质量评价及修复、图谱分析、辐射校正、几何校正、目标探测、地物分类、参量反演分析等处理能力。",
        },

        {
          title: "PIE-UAV",
          content:
            "高度自动化的无人机影像处理工具，界面简洁，操作简单，可一键式完成大批量航空影像数据DOM的流程化生产。",
        },
        {
          title: "PIE-SIAS",
          content:
            "包含尺度集分割、人工/自动样本选择、面向对象分类、变化检测、半自动交互式信息提取、专题制图等能力",
        },
        {
          title: "PIE-Lidar",
          content:
            "面向机载、车载、固定站、SLAM激光扫描数据的专业级激光雷达数据处理软件。",
        },
        {
          title: "PIE-Map",
          content:
            "采用二三维一体化、GPU加速，提供二三维可视化、查询分析、地理标绘等功能。",
        },
        {
          title: "PIE-TDModeler",
          content:
            "全自动建模软件、实景三维测图软件、实景三维建模单体化软件、实景三维展示软件。",
        },
      ],
      dynamicsTitle: "一站式地球科学大数据实时计算平台",
      dynamicsContent:
        "PIE-Engine（Pixel Information ExpertEngine），航天宏图公司独立自主研发，基于云计算、物联网、大数据和人工智能等一站式地球科学大数据实时计算平台。平台自主构建并行高效的底层架构，全流程业务实时可视，包括无人机、卫星遥感影像等多源数据，虚拟仿真、城市实景三维建模等多维框架，让数据随取随用，为用户提供“云+端”、“平台+SaaS”应用模式，助力地球科学应用产业化发展。PIE-Engine旨在构建全新地球云生态，实现时空信息融合与多维数据感知，赋能大产业，共建生态圈，为世界带来美好而改变。",
      pieContent1: "航天宏图一号",
      pieContent2: "国内首个干涉SAR商业卫星星座",
      pieContent3:
        " 航天宏图一号SAR卫星星座。该星座在国际上首次采用分布式星座构型，“1主+3辅”4星共面运行，1颗主星位于编队中心，3颗辅星以相同的椭圆轨迹绕飞主星。卫星系统工作时，主星发射信号，主星和三颗辅星同时接收信号，具备高精度地形测绘、高精度形变检测、高分辨率宽幅成像以及三维立体成像等能力，在自然资源、应急管理、水利等行业与领域具有极高的应用价值，有效填补国内干涉SAR卫星市场空白，整体技术达到国际领先水平。",
      newsItem: [
        {
          imgSrc: require("../../public/static/images/gvlipunu.jpg"),
          newsTitle1: "南京航天宏图信息技...",
          newsTitle2:
            "南京航天宏图信息技术有限公司2023年江苏省研究生工作站申报公示...",
          newsTitle3: "2023-06-25 16:04:00",
        },
        {
          imgSrc: require("../../public/static/images/gvlipunu.jpg"),
          newsTitle1: "南京航天宏图信息技...",
          newsTitle2:
            "南京航天宏图信息技术有限公司2023年江苏省研究生工作站申报公示...",
          newsTitle3: "2023-06-25 16:04:00",
        },
        {
          imgSrc: require("../../public/static/images/gwbgp.jpg"),
          newsTitle1: "【智慧地球大讲堂】...",
          newsTitle2: "腾讯数智人技术及场景分享...",
          newsTitle3: "2023-06-22 16:17:16",
        },
      ],
      downItem: [
        {
          content: "PIE产品使用反馈表",
        },
        {
          content: "PIE产品BUG反馈表",
        },
        {
          content: "PIE培训视频下载",
        },
        {
          content: "PIE软件下载",
        },
        {
          content: "常见问题",
        },
      ],
      footItem: [
        {
          title: "新闻中心",
          content: ["公司动态", "产品动态"],
        },
        {
          title: "关于我们",
          content: ["公司介绍", "组织架构", "典型客户", "合作伙伴"],
        },
        {
          title: "产品中心",
          content: ["PIE-Engine", "PIE-basic", "PIE-Ortho", "PIE-SAR"],
        },
        {
          title: "解决方案",
          content: [
            "实景三维",
            "生态环境",
            "智慧气象",
            "智慧水利",
            "北斗领域",
            "智慧交通",
            "农业农村",
          ]
        },
      ],
      lianxiItem: [
        {
          iClass: "el-icon-phone",
          content: "400-890-0662，010-82556203",
        },
        {
          iClass: "el-icon-location-outline",
          content: "北京市海淀区杏石口路益园文化创意产业基地A区1号楼5层",
        },
      ],
    };
  },
  components: {},
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
  mounted() {},
};
</script>
<style lang="scss">
.home {
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
  .el-carousel__indicators {
    bottom: 150px !important;
  }
  .el-button {
    color: #2f79ec;
    border: 1px solid;
    border-radius: 0px;
    width: 125px;
    height: 40px;
    margin: 50px 0;
    font-size: 18px;
    cursor: pointer;
  }

  .el-tabs__header {
    padding-left: 20px;
    height: 100px;
    line-height: 100px;
    .el-tabs__item {
      padding-left: 0;
      font-size: 28px;
      color: #fff;
    }
  }
  .el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    list-style: none;
  }
}
</style>
<style lang="scss" scoped>
.home {
  margin: 0px;
  padding: 0px;
  .first-box {
    width: 99%;
    .login-div {
      height: 60px;
      display: flex;
      line-height: 60px;
      background-color: #fff;
      img {
        height: auto;
        width: 100%;
        vertical-align: middle;
      }
    }

    .price {
      width: 100%;
      height: 80px;
      z-index: 85;
      bottom: 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .price-box {
        max-width: 1200px;
        height: 80px;
        width: fit-content;
        display: flex;
        .price-div {
          background: url("../../public/static/images/gpbj.png");
          background-size: 100% 100%;
          float: left;
          width: 320px;
          height: 100%;
          background-repeat: no-repeat;
          display: table;
          padding: 12px;
          .price-div-left {
            span {
              display: inline-block;
              width: 100%;
              font-size: 20px;
              color: #333333;
              height: 27px;
              line-height: 27px;
              vertical-align: middle;
            }
          }
          .price-div-center-left {
            width: 90px;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
          .price-div-center-right {
            width: 20px;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
          }
          .price-div-right {
            width: 80px;
            height: 100%;
            display: table-cell;
            span {
              display: inline-block;
              width: 100%;
              font-size: 16px;
              // color: #ff0000;
              height: 27px;
              line-height: 27px;
              vertical-align: middle;
            }
          }
        }
        .price-news-div {
          float: left;
          cursor: pointer;
          width: 280px;
          height: 80px;
          background: rgba(0, 0, 0, 0.4);
          .price-news-div-item {
            height: 54px;
            margin: 13px 0 13px 13px;
            color: white;
            display: inline-block;
            font-size: 14px;
            border-right: 1px dashed rgba(255, 255, 255, 0.5);
            .price-news-div-item-text {
              width: calc(100% - 12px);
              height: 27px;
              line-height: 27px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  .dynamics {
    width: 100%;

    .dynamics-title {
      width: 100%;
      height: 190px;
      text-align: center;
      .dynamics-title-text {
        position: absolute;
        transform: translateX(-50%);
        z-index: 1;
        line-height: 190px;
        width: 100%;
        vertical-align: middle;
        font-size: 90px;
        font-weight: 600;
        opacity: 0.1;
        color: #333333;
      }
      .dynamics-title-text2 {
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;
        line-height: 190px;
        width: 100%;
        vertical-align: middle;
        font-size: 50px;
        font-weight: 500;
        color: #000;
        font-family: microsoft yahei;
      }
    }
    .dynamics-body {
      max-width: 1200px;
      margin: 0 auto !important;
      min-height: 600px;

      .dynamics-body-img {
        max-height: 520px;
        max-width: 720px !important;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .dynamics-body-dis {
        .dynamics-body-dis-title {
          font-weight: 500;
          margin-top: 65px;
          font-size: 22px;
          color: #000;
          font-family: microsoft yahei, serif;
        }
        .dynamics-body-dis-body {
          font-size: 18px;
          margin-top: 20px;
          color: #333333;
          text-align: left;
        }
      }
    }
  }
  .pie-one {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../public/static/images/pie-one-bg@2x.png");
    color: white;
    .pie-one-div {
      max-width: 1200px;
      margin: 0 auto !important;
      .pie-one-dis {
        width: 100%;
        max-width: 750px;
        max-height: 700px;
        .pie-one-title {
          font-size: 50px;
          font-weight: 500;
          /* color: #000; */
          font-family: microsoft yahei;
          margin-top: 150px;
          text-align: left;
        }
        .pie-one-child-title {
          font-size: 22px;
          /* color: #000; */
          font-family: microsoft yahei;
          font-weight: 500;
          margin-top: 10px;
          text-align: left;
        }

        .pie-one-dis-body {
          margin-top: 40px;
          font-size: 18px;
          /* color: #111; */
          line-height: 30px;
          text-align: left;
        }
      }
      .pie-one-img {
        max-height: 700px;
        max-width: 450px !important;
        margin: 0 auto;
        img {
          width: 100%;
          margin-top: 120px;
        }
      }
    }
  }

  .product {
    width: 100%;
    .product-div {
      max-width: 1200px;
      margin: 0 auto !important;
      .product-div-left {
        /* width: 100%; */
        background-image: url(../../public/static/images/hz@2x.png);
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        .product-div-left-1 {
          width: 100%;
          .d-xxl-block {
            display: block !important;
            img {
              width: 100%;
            }
          }
          .product-div-left-title {
            margin-top: 105px;
            color: #333333;
            line-height: 55px;
            font-size: 50px;
            font-weight: 500;
            color: #000;
            font-family: microsoft yahei;
            text-align: left;
          }

          .product-div-left-dis {
            font-size: 18px;
            color: #333333;
            line-height: 30px;
            margin: 20px 0;
            text-align: left;
          }
        }
      }

      .product-div-right {
        background-color: #2f79ed;
        background-image: url(../../public/static/images/lk@2x.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 0 !important;
        .gjj-box {
          .gj-box {
            width: 30%;
            height: 156px;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.3);
            float: left;
            margin-left: 20px;
            margin-bottom: 20px;
            text-align: left;
            cursor: pointer;
            .gj-title {
              height: 40px;
              white-space: normal;
              line-height: 45px;
              font-size: 18px;
              padding-left: 20px;
              padding-top: 10px;
            }
            .gj-content {
              padding: 15px 20px;
              font-size: 14px;
            }
          }
        }
        .download-box {
          border: 1px solid rgba(255, 255, 255, 0.3);
          width: 24%;
          padding: 20px 20px;
          text-align: left;
          margin-left: 20px;
          margin-bottom: 20px;
          color: #fff;
          float: left;
          cursor: pointer;
        }
      }
    }
  }
  .news-center {
    width: 100%;
    background-image: url(../../public/static/images/new-bg@2x.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .news-center-title {
      width: 100%;
      height: 190px;
      text-align: center;
      .news-center-title-text {
        position: absolute;
        transform: translateX(-50%);
        z-index: 1;
        line-height: 190px;
        width: 100%;
        vertical-align: middle;
        font-size: 90px;
        font-weight: 600;
        opacity: 0.1;
        color: #333333;
      }
      .news-center-title-text2 {
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;
        line-height: 190px;
        width: 100%;
        vertical-align: middle;
        font-size: 50px;
        font-weight: 500;
        color: #000;
        font-family: microsoft yahei;
      }
    }
    .news-div {
      max-width: 1200px;
      margin: 0 auto !important;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 20px 0px rgb(235 235 235 / 20%);
      .news-one {
        .news-type-title {
          height: 80px;
          line-height: 80px;
          color: #333333;
          font-size: 24px;
          padding-left: 15px;
          text-align: left;
        }
        .news-type1-div {
          padding: 0px 15px;
          img {
            width: 100%;
            height: 469px;
          }
          .news-type1-child-div {
            width: 100%;
            height: 60px;
            padding-top: 10px;
            position: relative;
            bottom: 60px;
            background: -webkit-linear-gradient(
              top,
              rgba(255, 255, 255, 0),
              rgba(0, 0, 0, 0.8)
            );
            .news-child-box {
              width: 2px;
              height: 40px;
              background-color: white;
              margin-left: 20px;
              float: left;
              padding-top: 10px;
            }
            .news-child-box1 {
              float: left;
              .news-child-box2 {
                color: #dddddd;
                font-size: 18px;
                height: 20px;
                padding-left: 10px;
              }
              .news-child-box3 {
                color: #dddddd;
                font-size: 14px;
                height: 20px;
                padding-left: 10px;
                margin-top: 5px;
              }
            }
          }
        }
      }
      .news-second {
        .news-type-title {
          height: 80px;
          line-height: 80px;
          color: #333333;
          font-size: 24px;
          padding-left: 15px;
          text-align: left;
        }
        .news-type2-div {
          height: 143px;
          width: 100%;
          margin-bottom: 20px;
          background-color: #ffffff;
          display: flex;
          .news-img-div {
            width: 140px;
            height: 140px;
            float: left;
          }
          .news-body-div {
            float: left;
            height: 143px;
            flex: 1;
            .news-body-title {
              box-sizing: border-box;
              padding: 5px 15px 5px 15px;
              font-size: 18px;
              color: #333333;
              text-align: left;
            }
            .news-body-body {
              box-sizing: border-box;
              padding: 0px 15px 10px 15px;
              font-size: 14px;
              color: #262626;
              height: 70px;
            }
            .news-body-date {
              font-size: 14px;
              color: #999999;
              box-sizing: border-box;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  .play-div {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .play-btn-div {
      width: 124px;
      height: 124px;
      position: absolute;
      top: calc(50% - 62px);
      left: calc(50% - 62px);
      img {
        cursor: pointer;
        height: 100%;
        width: 100%;
      }
    }
    .zz {
      width: 100%;
      font-size: 62px;
      margin: 0 auto;
      height: 80px;
      color: #ffffff;
      position: absolute;
      bottom: 10%;
      text-align: center;
      line-height: 80px;
    }
  }
  footer {
    background: #081326;
    padding-top: 30px;
    height: fit-content !important;
    .container {
      max-width: 1320px;
      margin: 0 auto;
      text-align: center;

      .footer-left {
        padding-right: 40px;
        h3 {
          height: 25px;
          color: #fff;
        }
        div {
          color: #7189b9;
          margin-bottom: 15px;
        }
      }

      .footer-right {
        h3 {
          text-align: left;
          color: #fff;
        }
        img {
          width: 88px;
          height: 88px;
        }
        .guanzhu-title {
          color: #fff;
          font-size: 12px;
        }
        .lianxi-box {
          text-align: left;
          margin-bottom: 10px;
          color: #7189b9;
        }
      }
    }
    .copyright {
      background-color: #121f3c;
      padding: 20px 0px 20px 0px;
      text-align: center;
      font-size: 15px;
      color: #fff;
    }
  }
}
</style>


